body {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.normal {
    background-color: cadetblue;
    border: 2px solid white;
    position:absolute;
}

.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px; 
}

.rightmenu {
    top: 114px;
    right: 5px;
    width: 100px;
    bottom: 25px;
    height: 200px;
}

.footer {
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 25px; 
    position: fixed;
}